<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0" />
	<title>@this.GetPageTitle()</title>
	<script type="importmap"></script>
	<link rel="stylesheet"
		href="~/css/site.css"
		asp-append-version="true" />
</head>

<body>
	<div style="background-image: url('Assets/Background.jpg'); height:100%; background-position: center;" />

	<Grid MaxWidth="{MaxWidth}"
		Rows="max, auto, max"
		HorizontalAlignment="@HorizontalAlignments.Center"
		VerticalAlignment="@VerticalAlignments.Stretch">

		<!-- Header -->
		<Border Grid.Row="0" ControlStyle="ToolbarBorder">
			<Border ControlStyle="ControlBorder">
				<Grid Columns="max, auto, max">

					<StackPanel Grid.Column="0"
						Orientation="Horizontal">
						<Image Source="./Assets/Icon.png"
							Width="48px"
							Height="48px" />

						@{
							var isCurrent = Html.IsSelected("/Index");
							<ToggleButton Path="/Index"
								IsChecked="@isCurrent">
								<TextBlock Text="Home" />
							</ToggleButton>
						}

					</StackPanel>

					<!-- TODO: Search box  -->
					<!--<TextBlock Grid.Column="1"
						Text="B"
						Alignment="Center" />-->

					<StackPanel Grid.Column="2"
						Orientation="Horizontal">
						<partial name="_LoginPartial" />
					</StackPanel>
				</Grid>
			</Border>
		</Border>

		<!-- Body -->
		<div Grid.Row="1"
			VerticalAlignment="@VerticalAlignments.Stretch"
			HorizontalAlignment="@HorizontalAlignments.Center"
			MaxWidth="{MaxWidth}">

			<Border
				Margin="12px, 0%, 5px, 0%"
				padding="12px">
				<main role="main"
					class="content">
					@RenderBody()
				</main>
			</Border>
		</div>

		<!-- Footer would go here -->
	</Grid>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js"
		asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
